.navigazione {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

button {
    padding: 7px 15px;
    margin: 15px;
    border-radius: 20px;
    border: 2px solid rgb(255, 230, 0);
}

.bttleft, .bttright {
    margin: 5px 20px;
}

.btnfill {
    background-color: rgb(255, 230, 0);
    color: black;
    transition: all 0.3s ease;
}

.btnfill:hover {
    transform: scale(1.1);
}

.btnempty {
    background-color: black;
    color:rgb(255, 230, 0) ;
    transition: all 0.3s ease;
}

.btnempty:hover {
    background-color: rgb(255, 230, 0);
    color:black ;
    transform: scale(1.1);
}

