.pizzaCard {
    width: 400px;
    height: auto;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    margin: 50px 20px;
    padding: 20px;
}

.pizzaCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.pizzaCard h2, .pizzaCard h3 {
    margin-top: 15px;
    color: black;
}

.pizzaCard h3 {
    border-top: 1px solid #d3d3d3;
    padding-top: 20px;
}

.pizzaCard p {
    margin-top: 10px;
    color: black;
}

/*
.buttons {
    display: flex;
    gap: 30px;
    margin: 30px 0 10px 0;
}

.button1, .button2 {
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 0;
}

.button1 {
    background-color: white;
}

*/

.button2 {
    padding: 10px 20px;
    border-radius: 20px;
    border:0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 25px 0 10px 0;
}

.ulpizzacard {
    margin: 20px;
}